<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="article-description margin-top-medium">
        <h1>Editing article</h1>
        <%= render 'form', article: @article %>
        <p> <%= link_to "Back", articles_path %> </p>
      </div>
    </div>
  </div>
</div>

